@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles for active and inactive navigation links */
.active {
  color: #6e56cf;
  &:hover {
    color: #6041da;
  }
  /* Underline the active link */
  border-bottom: 1px solid #6e56cf;
}

.inactive {
  color: #71717a;
  &:hover {
    color: #3f3f46;
  }
}
